# dependencies
/node_modules
/.pnpm
/.yarn

# next.js
/.next/
/out/

# production & downloads
/build
/downloads

# binaries (downloaded dynamically on first run)
/bin/

# sqlite db runtime
/*.db
/*.db-journal
/database.sqlite
/data/*.db*

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
